<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <%= link_to 'Weather App', root_path, 
        class:"navbar-brand" %>
        
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search..." autocomplete="off" aria-label="Search">
      <button class="btn btn-light" type="submit">Search</button>
    </form>
  </div>
</nav>